extends layout

block content
  h1= title
  p welcome to use our system
  form(method="post", action="/monitor/add" enctype="multipart/form-data")
    p
      label topo
      input(name="top", type="file")
    p
      label maxseg
      input(name="segment", type="text")
    button 提交

